*{
    font-size: 14px;
}
.row{
    margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
   overflow-x:auto;
}
.vr{
    color: grey;
}
.crd{
   margin-left: 10px;
}
.createbtn{
    margin-right: 10px;
    padding-right: 10px;
}