<!-- *ngIf="isLoggedIn$ | async" -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" > 
    <a class="navbar-brand" href="#">  <img class="imgBanner " src="favicon.ico"></a>

    <a class="navbar-brand" href="#">QRA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/z/welcome">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <!--show roles have access-->
          <ng-container *ngFor="let role of userData.roles;">
                <a class="nav-link" href="#">{{role}}</a>
          </ng-container>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li ngbDropdown  class="nav-item d-inline-block  ">
                <button type="button" class="btn btn-outline-secondary" id="dropdownSettings" ngbDropdownToggle>Settings</button>
                <div ngbDropdownMenu aria-labelledby="dropdownSettings" >
                  <button ngbDropdownItem><a class="text-secondary" href="/z/database ">Manage Databases</a></button>
                  <button ngbDropdownItem><a class="text-secondary"  href="/z/roles ">Manage Roles</a></button>
                  <button ngbDropdownItem><a class="text-secondary"  href="/z/users ">Manage Users </a></button>
                  <button ngbDropdownItem><a class="text-secondary"  href="/z/register ">Create User</a></button>
                </div>
        </li>
        <li  class="nav-item">
            <button class="btn btn-outline-secondary  my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>

  <ngb-alert *ngIf="isError"  >{{errorMessage}}</ngb-alert>
 
  