<div class="row d-flex justify-content-center">
    
  <div class="col-md-6">
        <div class="card" >
          <div class="card-body">
                <h5 class="card-title text-center">Login</h5>
                <form>
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" id="username" [(ngModel)]="login1.userName"  [ngModelOptions]="{standalone: true}" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" [(ngModel)]="login1.password"  [ngModelOptions]="{standalone: true}" placeholder="Enter Password">
                    </div>
                    <div class="text-right">
                        <button type="submit" (click)="getlogin()" class="btn btn-primary ">Log in</button>
                    </div>
                  </form>
                  <!--divider -->
                  <div class="dropdown-divider"></div>

                <p class="card-text text-center">Or Log in with:</p>
            
                <div class="text-center">
                  <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
                    <a > <img  (click)="signinOkta()"   src="assets/Okta-Logo.png" alt="Okta" class="imglogin rounded">  </a> 

                  </ng-container>
                  <ng-template #signout>
                    <button (click)="signOutOkta()">Sign out</button>
                  </ng-template>
                  </div>
                <div class="text-left">
                    <p>Don't have an account <a   class="links" (click)="CreateAccount()" > Create one here!</a></p>
                </div>
          </div>
           
        </div>
  </div>
</div>
