

<div class="row">
    <div class="col">

        <ul class="nav justify-content-end">
            <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link 2 </a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#" id="user">{{userlogin}}</a>
            </li>
        </ul>
    </div>
</div>
